html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    font-family: Helvetica;
    color: aquamarine;
}

#tree {
    width: 100%;
    height: 100%;
}

.img-fluid{
    color: aquamarine;
}

nav{
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
}

.person-card{
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
}

.person-name{
    text-align: center;
}

.dropdown-menu{
    background:linear-gradient(90deg, #00009c 0%, #000000 100%);
}
 
.btn{
    padding-bottom: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;
}

.legend{
    display: flex;
    
}


.btn-group{
    width: 12px;
}


